<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OlympicGamesSummer1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OlympicUserLoginServlet</display-name>
    <servlet-name>OlympicUserLoginServlet</servlet-name>
    <servlet-class>com.cts.olympicservlets.OlympicUserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlympicUserLoginServlet</servlet-name>
    <url-pattern>/OlympicUserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlympicUserRegisterationServlet</display-name>
    <servlet-name>OlympicUserRegisterationServlet</servlet-name>
    <servlet-class>com.cts.olympicservlets.OlympicUserRegisterationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlympicUserRegisterationServlet</servlet-name>
    <url-pattern>/OlympicUserRegisterationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlympicAdminServlet</display-name>
    <servlet-name>OlympicAdminServlet</servlet-name>
    <servlet-class>com.cts.olympicservlets.OlympicAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlympicAdminServlet</servlet-name>
    <url-pattern>/OlympicAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlympicDataServlet</display-name>
    <servlet-name>OlympicDataServlet</servlet-name>
    <servlet-class>com.cts.olympicservlets.OlympicDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlympicDataServlet</servlet-name>
    <url-pattern>/OlympicDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlympicUserOperationsServlet</display-name>
    <servlet-name>OlympicUserOperationsServlet</servlet-name>
    <servlet-class>com.cts.olympicservlets.OlympicUserOperationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlympicUserOperationsServlet</servlet-name>
    <url-pattern>/OlympicUserOperationsServlet</url-pattern>
  </servlet-mapping>
</web-app>